.Rproj.user
.Rhistory
.RData
.Ruserdata
/src/*.so
/src/*.o
/src/*.dll
inst/doc
doc
Meta
sandbox
*.Rproj
noaa_docs
.vscode
src-i386
/src/unused.hppex_res/
ex_res/          REM ¶¬•¨‚ğ–³‹
ex_res/          REM ¶¬•¨‚ğ–³‹
plots_png/
res_tables/
wham_figures_tables.html
wham_figures_tables.md
