.Rproj.user
.Rhistory
.RData
.Ruserdata
/src/*.so
/src/*.o
/src/*.dll
inst/doc
doc
Meta
sandbox
noaa_docs
.vscode
src-i386
/src/unused.hpp
ex_res/
plots_png/
res_tables/
wham_figures_tables.html
wham_figures_tables.md
